/*
    This is only style for this demo specifically
*/

a:hover, a:visited:hover {
    color: #4dd0fb;
}
a, a:visited {
    color: #505050;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#container {
    width: 948px;
    min-height: 100%;
    margin: 0 auto;
    text-align: center;
    background: #efefef;
}
    #container #header {
        top: 0px;
        height: 110px;
        text-align: center;
        border-bottom: 1px #ffffff solid;
    }

        #container #header h1 {
            margin-top: 0px;
        }

        #container #header #navbar li {
            display: inline;
            padding: 16px;
            margin: 4px;
            border: 1px #ffffff solid;
        }

    #container #content {
        text-align: left;
        padding: 12px;
    }

    #container #footer {
        position: fixed;
        height: 30px;
        width: inherit;
        bottom: 0px;
        text-align: center;

    }

.page_right {
    float: right;
}

.cars {
    list-style: none;
}
    .car {
        position: relative;
        width: 180px;
        margin: 12px 0 12px 0;
        padding: 4px;
        border: 1px #ffffff solid;
    }

        .car_make {
            color: #afafaf;
            margin-left: 20px;
        }
        .car_model {
            font-size: 20px;
        }
        .car_coolness {
            position: absolute;
            right: 2px;
            font-size: 8px;
        }

code {
    background: #ffffff;
    padding: 8px 8px 8px 40px;
    line-height: 240%;
}

