<template name="carsDetail">
    <div id="page_cars_details" class="page">
        {{#with car}}
        <div class="page_right">
            {{> modelCar}}
        </div>
        <h2>The {{make}} {{model}}</h2>
        <p>
            Description: {{description}}
        </p>
        <br /><br />
        <p>If you don't like the description of this car, you can change it below:</p>
        <form class="form-description">
            <textarea class="description" type="text" placeholder="Car description" value="">{{descriptionPending}}</textarea>
            <button type="submit">Submit</button>
        </form>
        <br />
        <code>
            Cars.update({_id: "{{_id}}"}, {$set: {description: "{{descriptionPending}}");
        </code>
        {{/with}}
	</div>
</template>

