<template name="home">
	<div id="page_home" class="page">
        <h2>You are running meteor-backbone-boilerplate!</h2>
        <p>
            Use this boilerplate as a quick and solid foundation to your own projects.  The latest code is always on the <a href="https://github.com/justinmc/meteor-backbone-boilerplate">github page</a>, and feel free to post any bugs there or jump in with your own contributions.
        </p>
        <br />
		<h3>Some interesting parts of the project to check out:</h3>
        <ul>
            <li>
                Click the links above to try out Backbone's routing.
            </li>
            <li>
                Sign in to see how the project renders the navbar reactively, using component views that can be rendered anywhere in your page.
            </li>
            <li>
                Try accessing the <a href="/account">account page</a> while not signed in to demonstrate routing based on permissions.
            </li>
        </ul>
	</div>
</template>

